nextflow.enable.dsl=2

params {
  partition = 'cpuq'
  qos = 'cpuq_base'
  scripts = "${baseDir}/scripts"
  outdir = 'results'
  marker_files = ''
  trait = ''
  trait_key_column = ''
  trait_value_columns = ''
  trait_header_lines = 1
  conda = '/grid/ware/data_norepl/luj/conda/sciapps_gwas'
}

process {
  executor = 'slurm'
  errorStrategy = 'terminate'
  maxRetries = 0
  stageInMode = 'copy'
  stageOutMode = 'copy'

  withLabel: light {
    cpus = 2
    memory = '4.GB'
    time = '02:00:00'
  }

  withLabel: medium {
    cpus = 8
    memory = '32.GB'
    time = '12:00:00'
  }

  withLabel: heavy {
    cpus = 32
    memory = '128.GB'
    time = '48:00:00'
  }

  withLabel: long {
    cpus = 8
    memory = '32.GB'
    time = '48:00:00'
  }

  clusterOptions = { "--partition=${params.partition} --qos=${params.qos}" }
}

timeline {
  enabled = true
  file = "${params.outdir}/reports/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.outdir}/reports/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.outdir}/reports/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.outdir}/reports/dag.html"
  overwrite = true
}
